extends loggedLayout

block content
  h1 Game #{ id } (Authenticated)
  ul
    li
      a(href="/") Home
    li
      a(href="/authentication/login") Login
    li
      a(href="/authentication/sign-up") SignUp
    li
      a(href="/lobby") Lobby
    li
      a(href="/games/42") Game(42)

  #game-area
    #discard-area

  .chat-container
    #messages.messages
      label
        input#chatMessage(name="chat-message", placeholder="Message...")

  template#player-template
    .player(data-id="")
      .gravatar
        img(src="")
      span.name
      .hand

  template#card-template
    .card
