extends loggedLayout

block css
  link(rel="stylesheet", href="/stylesheets/games.css")

block scripts
  script(src="/scripts/games.js", defer)

block content
  h1 Game #{ id } (Authenticated)

  main
    #game-area
      #cards-container
        #deck-area
        #discard-area
      #player-area

    .chat-container
      #messages.messages
        label
          input#chatMessage(name="chat-message", placeholder="Message...")

  template#player-template
    .player(data-id="")
      .gravatar
        span.name
        img(src="")
      .hand

  template#card-template
    .card
