extends loggedLayout


block content
  p You are #{username} #{email}  #{id}

  container 
    row 
      col-sm 
        button.ms-btn
          a(href="/api/games/create" id="create-game-link" class="ms-btn ms-action") Create Game
          ul#game-list
            // This loop might be wrong in PUG, view 1:07:12 in lecture 4/24
            each game in games
              li =
                a(href="/api/games/${game.id}/join") 
                  | Join
                  span = game.id
      chat-container 
        messages(id="messages") 
        label
          input(id="chatMessage" name="chat-message" placeholder="Message...")
      script(src="../scripts/bundle.js" defer)
  template(id= "available-game-item")
    div
      li
        a(href="#") 
        | Join
        span 42



